h1 {
  text-align: center;
  color: black;
  border-radius: 100px;
  background: yellow;
  margin: auto;
  padding: 20px;
  width: 300px;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.desc {
  background-color: whitesmoke;
  color: black;
  border-radius: 50px;
  padding: 10px;
  width: auto;
  text-align: center;
  font-style: italic;
}

.ingr {
  text-align: left;
}

head,
body {
  background-color: black;
  color: white;
}

html {
  width: 500px;
  border: 25px whitesmoke solid;
  border-width: 10px;
  background-color: black;
  width: 500px;
  padding: 100px;
  margin: auto;
}