.filipino, .cuisine, .recipes {
  text-align: center;
  color: blue;
  border-radius: 100px;
  background: yellow;
  margin: 10px auto;
  padding: 8px;
  width: 150px;
}

.cuisine {
  color: red;
}

.recipes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 10px auto;
  width: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  width: 300px;
}

li {
  background-color: whitesmoke;
  border-radius: 50px;
  width: auto;
  color: black;

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin: auto;
}

ul { 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

head, body {
  background-color: black;
  color: white;
}

html {
  width: 500px;
  border: 25px whitesmoke solid;
  border-width: 10px;
  background-color: black;
  width: 500px;
  padding: 100px;
  margin: auto;
}